<!DOCTYPE html>
<!-- 
  &: Anastasia Lee, Nia Lam, Dua Baig
  SoftDev
  Oct 2024
 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Howdy, friends!
    </h1>
    <h2>
      &: Anastasia Lee, Nia Lam, Dua Baig<br>
    </h2>

    <h3>
      Enter your username below to proceed.
    </h3>
    <h4>
      Use GET request:
    </h4>
    <form action="/auth" method="GET">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>

    <h4>
      Use POST request:
    </h4>
    <form action="/auth" method="POST">
      <input type="text" name="username">
      <input type="submit" name="sub1">
    </form>
  </body>

</html>
